In [1]:
sc = spark.sparkContext

In [2]:
data = sc.parallelize(range(10))

In [3]:
data.glom().collect()

In [4]:
data.coalesce(2).glom().collect()

In [5]:
linesRDD = sc.textFile("/FileStore/tables/hw7nzjot1501531904757/wordcount.txt")

In [6]:
linesRDD.collect()

In [7]:
wordsRDD = linesRDD.flatMap(lambda line: line.split(" "))

In [8]:
wordIntCountRDD = wordsRDD.map(lambda word: (word, 1))

In [9]:
wordIntCountRDD.collect()

In [10]:
wordCountRDD = wordIntCountRDD.reduceByKey(lambda a, b : a + b)

In [11]:
wordCountRDD.collect()

In [12]:
df = spark.read.option("inferschema", "true").option("header", "true").option("mode", "DROPMALFORMED").csv("/FileStore/tables/kkrg7rcn1501439190334/train.csv")

In [13]:
df.printSchema()

In [14]:
df.select("Sex").distinct().show()

In [15]:
df.filter(df["Sex"] == "female").show()

In [16]:
df.createOrReplaceTempView("passengers")

In [17]:
fp = spark.sql('SELECT * FROM passengers WHERE sex = "female" order by PassengerId')

In [18]:
fp.show()